@model List<MvcStok.Models.Entity.TBLSatislar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Index</h2>
<table class="table table-bordered">
    <tr>
        <th> Id   </th>
        <th> Ürün   </th>
        <th> Personel</th>
        <th> Müşteri</th>
        <th> Fiyat</th>
        <th> Tarih</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>

            <td>@x.Id</td>
            <td>@x.TBLUrunler.Ad</td>
            <td>@x.TBLPersonel.Ad</td>
            <td>@x.TBLMusteri.Ad @x.TBLMusteri.Soyad</td>
            <td>@x.TBLUrunler.SatisFiyat</td>
            <td>@x.Tarih</td>
            

        </tr>



    }
</table>
<a href="/Satislar/CreateSatislar/" class="btn btn-success">Yeni Satış İşlemi</a>
